@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: "Hind Siliguri", sans-serif;
  font-weight: 400;
  font-style: normal;
}

body::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

body::-webkit-scrollbar-track {
  background-color: #f1f1f1;
  border-radius: 10px;
}

body::-webkit-scrollbar-thumb {
  background-color: gray;
  border-radius: 10px;
  border: 2px solid #f1f1f1;
  cursor: pointer;
}

body::-webkit-scrollbar-corner {
  background-color: #f1f1f1;
  border-radius: 10px;
}
